<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @menu.icon %>
</p>

<p>
  <strong>Active:</strong>
  <%= @menu.active %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @menu.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @menu.updated_by %>
</p>

<p>
  <strong>Deactivated by:</strong>
  <%= @menu.deactivated_by %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
