<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subcategory.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @subcategory.active %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcategory.category %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @subcategory.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @subcategory.updated_by %>
</p>

<p>
  <strong>Deactivated by:</strong>
  <%= @subcategory.deactivated_by %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
