<div id="p-cart" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
    <p class="text-right">
      <button class="btn btn-success" id="save-order">Finalizar pedido</button>
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Produto</th>
          <th width="10">Quantidade</th>
          <th>Preço unit.</th>
          <th>Valor total</th>
          <th width="10"></th>
          <th width="10"></th>
        </tr>
      </thead>
      <tbody>
        <% @carts.each do |cart| %>
          <tr>
            <td style="display:none" class="pid"><%= cart.id %></td>
            <td class="nr"><%= cart.product.name %></td>
            <td class="p-qty">
              <input type="number" class="form-control" id="p_quantity" min="1" max="<%= cart.product.stock %>" value="<%= cart.quantity %>">
            </td>
            <td class="p-price"><%= number_to_currency(cart.product.price, unit: 'R$', separator: ",", delimiter: "") %></td>
            <td class="total-price"><%= number_to_currency(cart.product.price * cart.quantity, unit: 'R$', separator: ",", delimiter: "") %></td>
            <td><a href="#" class="product-refresh"><span class="fa fa-fw fa-refresh text-primary"></span></a></td>
            <td><%= link_to cart_path(cart), method: 'delete', data: { confirm: 'Deseja remover este produto do seu carrinho?' } do %><span class="fa fa-fw fa-times text-danger"></span><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer text-right text-primary" id="total-cart">
  </div>
</div>
