<section class="product-cart">
  <div class="row">
    <div class="col-sm-12">
      <p class="text-danger">Por favor, confira todos os campos antes de finalizar o pedido.</p>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
        <div class="panel panel-default">
          <a href="#p-cart" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseOne">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="fa fa-fw fa-shopping-cart"></span> Seu carrinho</h3>
            </div>
          </a>
          <%= render 'cart_products' %>
        </div>
        <div class="panel panel-default">
          <a href="#p-address" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="fa fa-fw fa-map-marker"></span> Endereço</h3>
            </div>
          </a>
          <%= render 'cart_address' %>
        </div>
        <div class="panel panel-default">
          <a href="#p-payment-method" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="fa fa-fw fa-credit-card"></span> Método de pagamento</h3>
            </div>
          </a>
          <%= render 'cart_payment_method' %>
        </div>
        <div class="panel panel-default">
          <a href="#p-freight" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="fa fa-fw fa-freight"></span> Frete</h3>
            </div>
          </a>
          <%= render 'cart_freight' %>
        </div>
      </div>
      <p class="text-right">
        <%= link_to 'Continuar comprando', root_path, class: 'btn btn-primary' %>
        <button class="btn btn-success" id="save-order">Finalizar pedido</button>
      </p>
    </div>
  </div>
</section>

<% if @carts.size > 0 %>
  <%= javascript_include_tag 'site/calcula-frete' %>
  <%= javascript_include_tag 'site/carts' %>
<% end %>
