<div class="col-md-12">
  <%= simple_form_for([:admin, @tax]) do |f| %>
    <% if @tax.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tax.errors.count, "error") %> prohibited this page from being saved:</h2>

        <ul>
        <% @tax.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.input :name, label: 'Nome', input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.input :percentage, label: 'Porcentagem', input_html: { class: 'form-control' } %>
        </div>
      </div>
    </div>
    <%= f.button :submit, 'Salvar', class: 'btn-primary' %>

  <% end %>
</div>
