<div class="container">
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Sebbo", root_path, class: 'navbar-brand' %>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to carts_path do %><span class="fa fa-fw fa-shopping-cart"></span> Meu Carrinho <span class="label label-success" id="cart-count"></span><% end %></li>
          <% if user_signed_in? %>
            <li><%= link_to edit_user_path(current_user) do %><span class="fa fa-fw fa-user"></span> Minha conta<% end %></li>
            <li><%= link_to destroy_user_session_path, method: 'delete' do %><span class="fa fa-fw fa-sign-out"></span> Sair<% end %></li>
          <% else %>
            <li><%= link_to user_registration_path, method: 'delete' do %><span class="fa fa-fw fa-sign-in"></span> Entrar<% end %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<script>
$.ajax({
  url: '/carrinho-contagem',
  type: 'GET',
  dataType: 'json'
})
.done(function(data) {
  document.getElementById('cart-count').innerHTML = data.message;
})
.fail(function() {
  console.log("error");
});
</script>
