<section class="orders">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Pedidos de <%= "#{current_user.firstname}" %></div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Código</th>
                <th>Data do pedido</th>
                <th>Valor do pedido</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= dmy order.created_at %></td>
                  <td><%= number_to_currency(order.total(order.id), unit: 'R$', separator: ",", delimiter: "") %></td>
                  <td><%= order.status %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  
</script>
