<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :freight_price %><br>
    <%= f.text_field :freight_price %>
  </div>
  <div class="field">
    <%= f.label :freight_type %><br>
    <%= f.number_field :freight_type %>
  </div>
  <div class="field">
    <%= f.label :payment_method %><br>
    <%= f.number_field :payment_method %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :delivery_field1 %><br>
    <%= f.text_field :delivery_field1 %>
  </div>
  <div class="field">
    <%= f.label :delivery_field2 %><br>
    <%= f.text_field :delivery_field2 %>
  </div>
  <div class="field">
    <%= f.label :delivery_field3 %><br>
    <%= f.text_field :delivery_field3 %>
  </div>
  <div class="field">
    <%= f.label :delivery_field4 %><br>
    <%= f.text_field :delivery_field4 %>
  </div>
  <div class="field">
    <%= f.label :delivery_city %><br>
    <%= f.text_field :delivery_city %>
  </div>
  <div class="field">
    <%= f.label :delivery_state %><br>
    <%= f.text_field :delivery_state %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.number_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br>
    <%= f.number_field :updated_by %>
  </div>
  <div class="field">
    <%= f.label :deactivated_by %><br>
    <%= f.number_field :deactivated_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
