<p id="notice"><%= notice %></p>

<p>
  <strong>Freight price:</strong>
  <%= @order.freight_price %>
</p>

<p>
  <strong>Freight type:</strong>
  <%= @order.freight_type %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @order.payment_method %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Delivery field1:</strong>
  <%= @order.delivery_field1 %>
</p>

<p>
  <strong>Delivery field2:</strong>
  <%= @order.delivery_field2 %>
</p>

<p>
  <strong>Delivery field3:</strong>
  <%= @order.delivery_field3 %>
</p>

<p>
  <strong>Delivery field4:</strong>
  <%= @order.delivery_field4 %>
</p>

<p>
  <strong>Delivery city:</strong>
  <%= @order.delivery_city %>
</p>

<p>
  <strong>Delivery state:</strong>
  <%= @order.delivery_state %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @order.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @order.updated_by %>
</p>

<p>
  <strong>Deactivated by:</strong>
  <%= @order.deactivated_by %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
