<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @page.active %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @page.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @page.updated_by %>
</p>

<p>
  <strong>Deactivated by:</strong>
  <%= @page.deactivated_by %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
