<section class="product-details">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <li><%= link_to "Início", root_path %></li>
        <li><a href="#"><%= @product.category.name %></a></li>
        <li class="active"><%= @product.name %></li>
      </ol>
    </div>
  </div>

  <% if user_signed_in? %>
  <div class="row" id="success-alert">
    <div class="col-sm-12">
      <div class="alert alert-success" id="s-alert">
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= image_tag(@product.cover.large, class: 'img-responsive img-rounded centeredImage') %>
    </div>
    <div class="col-md-6 col-sm-12">
      <h1><%= @product.name %></h1>
      <br/>

      <p class="price"><%= number_to_currency(price_with_tax(@product.price), unit: 'R$', separator: ",", delimiter: "") %></p>

      <div class="row">
        <div class="col-sm-12">
          <form class="form-horizontal" id="product_quantity">
            <div class="form-group">
              <label for="stock" class="col-sm-2 control-label">Quantidade</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" id="p_stock" name="p_stock" min="1" max="<%= @product.stock %>" value="1">
              </div>
            </div>
          </form>
        </div>
      </div>

      <p><strong>Autor(es)</strong>: <%= @product.author %></p>
      <p><strong>Editora</strong>: <%= @product.publishing_house %></p>
      <p><strong>Páginas</strong>: <%= @product.number_pages %></p>
      <p><strong>Vendedor</strong>: <%= @product.user.firstname %> <%= @product.user.lastname %></p>
      <p class="text-right"><button class="btn btn-primary <% if !user_signed_in? %>disabled<% end %>" id="addToCart"><span class="fa fa-fw fa-cart-plus"></span> Adicionar ao carrinho</button></p>
      <p class="text-right"><a href="#"><span class="fa fa-fw fa-facebook"></span> Compartilhar no Facebook</a></p>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="fa fa-fw fa-info-circle"></span> Informações do produto</div>
        <div class="panel-body">
          <%= raw @product.description %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="fa fa-fw fa-comments"></span> Comentários</div>
        <div class="panel-body">
          <div id="disqus_thread"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'sebboecommerce';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<% if user_signed_in? %>
<script>
var productId = <%= @product.id %>;
var userId = <%= current_user.id %>;

$("#success-alert").hide();

$('#addToCart').on('click', function() {

  $("#success-alert").alert();
  $("#success-alert").fadeTo(4000, 500).fadeOut(500, function(){
    $("#success-alert").alert('close');
  });

  var qty = document.getElementById('p_stock').value;

  $.ajax({
      url: '/carrinho',
      type: 'POST',
      dataType: 'json',
      data: {
        cart: {
          quantity: qty,
          product_id: productId,
          user_id: userId
        }
      },
    })
    .done(function(data) {
      console.log(data.message);
      document.getElementById('s-alert').innerHTML = data.message;

      $.ajax({
        url: '/carrinho-contagem',
        type: 'GET',
        dataType: 'json'
      })
      .done(function(data) {
        document.getElementById('cart-count').innerHTML = data.message;
      })
      .fail(function() {
        console.log("error");
      });
    })
    .fail(function(data) {
      console.log("error");
    });
});
</script>
<% end %>
