<p id="notice"><%= notice %></p>

<p><%= link_to 'Novo produto', admin_new_product_path, class: 'btn btn-primary' %></p>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Produtos</div>
      <div class="panel-body">
        <table class="datatable table table-hover display">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Preço</th>
              <th>Imagem</th>
              <th>Estoque</th>
              <th>Status</th>
              <th>Vendedor</th>
              <th width="10"></th>
              <th width="10"></th>
              <th width="10"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.cover %></td>
                <td><%= product.description %></td>
                <td><%= product.stock %></td>
                <td><%= product.active %></td>
                <td><%= product.category %></td>
                <td><%= product.subcategory %></td>
                <td><%= product.user %></td>
                <td><%= product.created_by %></td>
                <td><%= product.updated_by %></td>
                <td><%= product.deactivated_by %></td>
                <td><%= link_to 'Show', product %></td>
                <td><%= link_to 'Edit', edit_product_path(product) %></td>
                <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
