<p id="notice"><%= notice %></p>

<p><%= link_to 'Novo usu치rio', admin_new_user_path, class: 'btn btn-primary' %></p>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="datatable table table-hover display">
          <thead>
            <tr>
              <th width="10">ID</th>
              <th>Nome</th>
              <th>Email</th>
              <th width="40">Status</th>
              <th width="10"></th>
              <th width="10"></th>
              <th width="10"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.firstname %></td>
                <td><%= user.email %></td>
                <td><%= user.active ? 'Ativo' : 'Inativo' %></td>
                <td><%= link_to 'Ver', admin_user_path(user), class: 'btn btn-xs btn-primary' %></td>
                <td><%= link_to 'Editar', admin_edit_user_path(user), class: 'btn btn-xs btn-primary' %></td>
                <td><%= link_to 'Excluir', admin_user_path(user), class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Tem certeza que quer excluir?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :title_breadcrumb do %>
<section class="content-header">
    <h1>
        Usu치rios
        <small>Listagem das usu치rios</small>
    </h1>
    <ol class="breadcrumb">
        <li><%= link_to root_path do %><i class="fa fa-home"></i> Home</a><% end %></li>
        <li class="active">Usu치rios</li>
    </ol>
</section>
<% end %>
