<!DOCTYPE html>
<html>
<head>
  <title>Sebbo - Seus livros online</title>
  <%= stylesheet_link_tag    'site/application_site', media: 'all' %>
  <%= javascript_include_tag 'site/application' %>
  <%= include_gon %>
  <%= csrf_meta_tags %>

  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="//v2.zopim.com/?2Ww8TKb238aWxz4T31TKvnKEV1assVEu";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
  </script>
  <!--End of Zopim Live Chat Script-->
</head>
<body>

  <%= render 'layouts/site/navbar' %>

  <div class="container">
    <% if flash[:notice] -%>
      <div class="alert alert-info" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
