<!DOCTYPE html>
<html>
<head>
  <title>Sebbo - Administrativo</title>
  <%= stylesheet_link_tag    'admin/application_admin', media: 'all' %>
  <%= javascript_include_tag 'admin/application' %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-black">

  <%= render 'layouts/admin/navbar_admin' %>

  <div class="wrapper row-offcanvas row-offcanvas-left">
    <%= render 'layouts/admin/sidebar_admin' %>

    <aside class="right-side">
        <!-- Content Header (Page header) -->

        <%= yield :title_breadcrumb %>

        <section class="content">
          <%= yield %>
        </section>
    </aside>

  </div>

  <%#= console %>

</body>
</html>
