<!DOCTYPE html>
<html>
<head>
  <title>Sebbo2</title>
  <%= stylesheet_link_tag    'site/application_site', media: 'all' %>
  <%= javascript_include_tag 'site/application' %>
  <%= include_gon %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/site/navbar' %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
